/Test.class
/Product.class
/Food.class
/Drink.class
/Alcoholic.class
/Save.class
/Load.class
/Carbonated.class
/Vegetarian.class
/Vegan.class
/LactoseFree.class
/NutFree.class
/Consumable.class
/Attribute.class
/Database.class
/Database$1.class
/Service.class
